  @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #323231 1.84%, #60605F 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #323231 -13.86%, #60605F 99.55%);
  
  --color-bg: #BBB36E;
  --color-footer : #493702;
  --color-blog: #042c54;
  --color-text: #3F3F25;
  --color-subtext: #FF8A71;
}
